@use '../../global';

.membersPage {
    display: flex;
    flex-direction: row;
}

.innerPage {
    display: flex;
    flex-direction: column;
     align-items: center;
}

.sidebar{
    width: 100%;
}

.tableHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--mainColor);
    padding-top: 20px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-start;
    padding: 15px;
}

.headerMainTitle {
    color: var(--mainColor);
    font-size: 30px;
    font-weight: bold;
}

.headerSecondTitle {
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 500;
}

.filterButton {
    border: none;
    background-color: white;
    cursor: pointer;
    color: var(--mainColor);
    padding: 20px;
}

.filterIcon {
    width: 15px;
    height: 15px;
}

.mainTable {
    background-color: white;
    width: 90%;
    border-radius: 20px;
}

.tableWrapper {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    border-radius: 20px;
}

.tableContainer {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.memberDirectory{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.searchBar{
    padding: 10px;
}