@use '../../global';


.tableHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--mainColor);
    padding-top: 20px;
}

.mainTable {
    background-color: white;
    width: 90%;
    border-radius: 20px;
}

.tableWrapper {
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
    border-radius: 20px;
}

.tableContainer {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.memberContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.memberContainer{
    flex-direction: row;
    gap: 10px;
}

.memberData{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.secondTd{
    font-size: 12px;
    font-weight: 200;
    color: gray;
}

.locationMember{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--grayColor);
}

.locationIcon{
    color:rgb(148 163 184);
}
