:root{
    --mainColor: #00CAFF;
    --secondColor: #64748b;
    --backroundColor: #f1f5f9;
    --grayColor: #666666;
    --buttonColor: rgb(36, 99, 235);
    --whiteColor: #ffffff;
    --lightBlue: #E8F9FF;
    --cleanBlue: #07cdfa;
    --darkBlue: #004484;
}